<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CV Bien | Creador de Curriculums Accesibles Online</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="/styles/form-style.css">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link
            href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard.min.css"
            rel="stylesheet"
            type="text/css"/>
        <link
            href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard_theme_arrows.min.css"
            rel="stylesheet"
            type="text/css"/>
    </head>

    <body>
        <div>
            <div class="header-blue">
                <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                    <div class="container">
                        <a class="navbar-brand" href="#">CV Bien</a>
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" href="#">Mi CV</a>
                                </li>
                                <li class="dropdown">
                                    <a
                                        class="dropdown-toggle nav-link dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-expanded="false"
                                        href="#">Portales de empleo
                                    </a>
                                    <div class="dropdown-menu" role="menu">
                                        <a class="dropdown-item" role="presentation" href="#">Linkedin</a>
                                        <a class="dropdown-item" role="presentation" href="#">Zonajobs</a>
                                        <a class="dropdown-item" role="presentation" href="#">Computrabajo</a>
                                    </div>
                                </li>
                            </ul>
                            <form class="form-inline mr-auto" target="_self">
                                <div class="form-group">
                                    <label for="search-field">
                                        <i class="fa fa-search"></i>
                                    </label><input
                                        class="form-control search-field"
                                        type="search"
                                        name="search"
                                        id="search-field"></div>
                            </form>
                            <span class="navbar-text">
                                <a href="#" class="login">Iniciar sesión</a>
                            </span>
                            <a class="btn btn-light action-button" role="button" href="#">Registrarse</a>
                        </div>
                    </div>
                </nav>
                <div class="container hero">
                    <div class="row">
                        <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                            <button
                                class="btn btn-light btn-lg action-button"
                                type="button"
                                data-toggle="modal"
                                data-target="#exampleModal">
                                Launch multistep Wizard
                            </button>

                            <!-- Modal -->
                            <div
                                class="modal fade"
                                id="exampleModal"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Smart Wizard modal</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="smartwizard">
                                                <ul>
                                                    <li>
                                                        <a href="#step-1">Paso 1<br/>
                                                            <small>Información Personal</small>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#step-2">Paso 2<br/>
                                                            <small>Cualificaciones</small>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#step-3">Paso 3<br/>
                                                            <small>Experiencia</small>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#step-4">Paso 4<br/>
                                                            <small>Sobre mi</small>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="mt-4">
                                                    <div id="step-1">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" placeholder="Nombre" required="required">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" placeholder="Correo electrónico" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-md-6">
                                                                <input
                                                                    type="text"
                                                                    class="form-control"
                                                                    placeholder="Teléfono"
                                                                    required="required">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input
                                                                    type="text"
                                                                    class="form-control"
                                                                    placeholder="Ciudad de residencia"
                                                                    required="required">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="step-2">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <input
                                                                    type="text"
                                                                    class="form-control"
                                                                    placeholder="Año"
                                                                    required="required">
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input
                                                                    type="text"
                                                                    class="form-control"
                                                                    placeholder="Título"
                                                                    required="required">
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" placeholder="Institución" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" placeholder="Tipo de estudio" required="required">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input
                                                                    type="text"
                                                                    class="form-control"
                                                                    placeholder="Habilidades aprendidas"
                                                                    required="required">
                                                            </div>
                                                        </div>
                                                        <div class="row m-3">
                                                            <div class="col-md-12">
                                                            <button type="button" class="btn btn-primary">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="step-3" class="">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <input
                                                                    type="text"
                                                                    class="form-control"
                                                                    placeholder="Año"
                                                                    required="required">
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input
                                                                    type="text"
                                                                    class="form-control"
                                                                    placeholder="Posición"
                                                                    required="required">
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" placeholder="Empresa" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-md-4">
                                                                <input type="text" class="form-control" placeholder="Periodo" required="required">
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input
                                                                    type="text"
                                                                    class="form-control"
                                                                    placeholder="Teareas realizadas"
                                                                    required="required">
                                                            </div>
                                                        </div>
                                                        <div class="row m-3">
                                                            <div class="col-md-12">
                                                            <button type="button" class="btn btn-primary">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="step-4" class="">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <span>Foto y descripción</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/scripts/script.js"></script>
        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.smartWizard.min.js"></script>

        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    </body>

</html>